.titleLabel-style{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-alignment: center;
}


.root-style {
    -fx-background-color : #112D4E ;
}

.footBtn-style {
    -fx-background-radius: 10px;
    -fx-pref-width: 120px;
    -fx-background-color: #3F72AF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.task-checkbox-style {
    /* Ajoutez vos styles personnalisés ici */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.scroll-pane-style {
    -fx-background-color: #112D4E;
    -fx-pref-height: 700px;
}
