.button-style {
    -fx-background-radius: 5px;
    -fx-background-color: #3F72AF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}



.ZoneDescription-Style {
    -fx-font-size: 16px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-pref-width: 750px;
    -fx-max-height: 140px;
}

.main-box-style {
    -fx-background-color: #112D4E;
}

.label-style {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.button-style-2{
    -fx-background-radius: 5px;
    -fx-background-color: #3F72AF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}


.root {
    -fx-background-color: #fff;
}
