.button-style {
    -fx-background-radius: 10px;
    -fx-pref-width: 100px;
    -fx-background-color: #3F72AF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.footBtn-style {
    -fx-background-radius: 10px;
    -fx-pref-width: 170px;
    -fx-background-color: #3F72AF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.left-btn-style {
    -fx-background-color: #8E9EB2;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-background-radius: 30px;
}

.navbar {
    -fx-pref-width: 50px;
    -fx-background-color: #112D4E;
    -fx-background-radius: 10px;
}


.ZoneDescription-Style {
    -fx-font-size: 16px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-pref-width: 700px;
    -fx-max-height: 100px;
}

.Label-style {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFF;
}

.date-picker {
    -fx-font-size: 12px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-pref-width: 120px;
    -fx-pref-height: 30px;
}

.Hour-Minute-Style {
    -fx-font-size: 14px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.5);
    -fx-pref-width: 65px;
}

.ZoneNote-Style {
    -fx-font-size: 16px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-max-width: 200px;
    -fx-min-height: 300px ;
}

.Docs-Style {
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-pref-width: 140px;
    -fx-pref-height: 100px;
}

.AjouterTache-style {
    -fx-background-color: #BDBDBD;
    -fx-background-radius: 15px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}


.Titre-style{
    -fx-font-size: 14px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.5);
    -fx-pref-width: 250px;
}

.AjoutDoc-style{
    -fx-background-color: #BDBDBD;
    -fx-background-radius: 15px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}