.button-style {
    -fx-background-radius: 10px;
    -fx-pref-width: 100px;
    -fx-background-color: #3F72AF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
.button-style:hover,
.button-style:pressed {
    -fx-background-radius: 10px;
    -fx-pref-width: 100px;
    -fx-background-color: #8E9EB2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.footBtn-style {
    -fx-background-radius: 10px;
    -fx-pref-width: 170px;
    -fx-background-color: #3F72AF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
.footBtn-style:hover,
.footBtn-style:pressed {
    -fx-background-radius: 10px;
        -fx-pref-width: 170px;
        -fx-background-color: #8E9EB2;
        -fx-text-fill: white;
        -fx-font-weight: bold;
        -fx-font-size: 13px;
}

.left-btn-style {
    -fx-background-color: #8E9EB2;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-background-radius: 30px;
}
.left-btn-style:hover,
.left-btn-style:pressed{
    -fx-background-color: #3F72AF;
        -fx-min-width: 30px;
        -fx-min-height: 30px;
        -fx-max-width: 30px;
        -fx-max-height: 30px;
        -fx-background-radius: 30px;
}

.navbar {
    -fx-pref-width: 50px;
    -fx-background-color: #112D4E;
    -fx-background-radius: 10px;
}

.seance-btn-style {
    -fx-background-radius: 10px;
    -fx-pref-width: 110px;
    -fx-background-color: #3F72AF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.ZoneDescription-Style {
    -fx-font-size: 16px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-pref-width: 750px;
    -fx-max-height: 500px;
    -fx-border-radius: 10px;
}

.ZoneTitre-Style {
    -fx-font-size: 16px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-max-height: 10px;
    -fx-border-radius: 10px;

}

.container {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #112D4E;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.Label-style {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-underline: false;
}
.Titre-style{
    -fx-font-size: 14px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.5);
    -fx-pref-width: 250px;
}
.date-picker {
    -fx-font-size: 14px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
}

.Hour-Minute-Style {
    -fx-font-size: 14px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.5);
    -fx-pref-width: 70px;
    -fx-pref-height: 50px;
}

.ZoneNote-Style {
    -fx-font-size: 16px;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-pref-width: 450px;
    -fx-max-height: 180px;
}

.Docs-Style {
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-pref-width: 750px;
    -fx-pref-height: 150px;
}


.AjouterTache-style {
    -fx-background-color: #BDBDBD;
    -fx-background-radius: 15px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.AjouterTache-style:hover,
.AjouterTache-style:pressed {
    -fx-background-color: #3F72AF;
    -fx-background-radius: 15px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.category-combobox-style {
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
    -fx-padding: 5px;
    -fx-pref-height: 50px;
}
.root {
    -fx-background-color: white;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}
