.button-style {
    -fx-background-radius: 10px;
    -fx-pref-width: 100px;
    -fx-background-color: #3F72AF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
.button-clicked-style {
    -fx-background-radius: 10px;
    -fx-pref-width: 100px;
    -fx-background-color: #8E9EB2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.left-btn-style {
    -fx-background-color: #8E9EB2;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-background-radius: 30px;
}

.navbar {
    -fx-pref-width: 50px;
    /* Largeur préférée de la barre de navigation */
    -fx-background-color: #112D4E;
    /* Couleur de fond de la barre de navigation */
    -fx-background-radius: 10px;
}


.ordonner-btn-style {
    -fx-background-radius: 10px;
    -fx-pref-width: 110px;
    -fx-background-color: #3F72AF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}


.container {

    -fx-background-color: #f0f0f0;
    -fx-border-color: #112D4E;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10px 70px 10px 50px;

}

.root {
    -fx-background-color: white;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.index-label {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.head-label{
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.date-style{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #112D4E;
    -fx-background-color: #BDBDBD;
    -fx-background-radius: 15px;
    -fx-padding: 3px 10px 3px 10px;

}

.description-container{
    -fx-font-size: 14px;
    -fx-padding: 3px 10px 3px 10px;
    -fx-border-width: 1px;
    -fx-min-width: 700px;
    -fx-min-height: 180px;
}
.noteContainer{
    -fx-background-color: #8E9EB2;
    -fx-padding: 5px 5px 5px 5px;
    -fx-min-height: 400px;
    -fx-min-width: 200px;

}

.head-box{
    -fx-padding: 0px 0px 20px 0px;
}

.noteDesc-style{
    -fx-font-size: 16px;
    -fx-focus-color: transparent;
}


.add-doc-button{
    -fx-background-radius: 10px;
    -fx-pref-width: 90px;
    -fx-background-color: #BDBDBD;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}


.contenaire-taches {
    -fx-background-color: #8E9EB2;
    -fx-background-radius: 20px;
    -fx-min-height: 110px;
}

.scroll-Style {
    -fx-min-height: 120px;
    -fx-background-color: transparent;
}

.index-style {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.description-style {
    -fx-font-size: 16px;
    -fx-focus-color: transparent;
    -fx-min-width: 600px;
    -fx-min-height: 180px;
}