/* style Border Pane */
.BorderPane-style {
    -fx-background-color: #112D4E;
    -fx-background-radius: 13px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 15, 0, 0, 0);
    -fx-pref-width: 550px;
    -fx-pref-height: 400px;

}

.Horizontal-Pane-style {
    -fx-background-color: white;
}

.Vertical-Pane-style {
    -fx-background-color: white;
    -fx-min-height: 90px;
}

.Email-Input-style{
    -fx-min-width: 270px;
    -fx-max-width: 300px;
    -fx-max-height: 35px;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: gray;
    -fx-background-radius: 13px;
    -fx-focus-color: transparent;
}

.Button-style {
    -fx-background-color: #3F72AF;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 13px;
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-max-height: 30px;
}
